{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "plugin:no-jquery/deprecated-3.5"],
  "globals": {
    "chrome": true
  },
  "env": {
    "browser": true,
    "node": true,
    "jquery": true
  },
  "rules": {
    "no-console": "off",
    "no-undef": "off",
    "no-prototype-builtins": "off",
    "no-jquery/no-ready-shorthand": "off"
  },
  "plugins": ["no-jquery", "babel"]
}
